*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container  {
    max-width: 1280px;
    margin: auto;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color:rgb(233, 226, 226);
    
}
/* footer */.
.footer-links {
    list-style: none;
    display: inline-block;
    margin-right: 20px;
}
footer{
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    margin-top: 60px;
}

.display-1{
    display: grid;
    grid-row: 3;
    grid-column: 3;
}
/* .banner */
.banner-text{
    margin-left: 80px;
    
}
.banner{
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    /* padding: 20px; */
    background-color: black;
    color: white;
    border-radius: 15px;
    margin-top: 60px ;
    margin-bottom: 60px;
    padding-top: 20px;
    
}
.banner-text-h{
font-size: 70px;
font-weight: 600;


}
.banner-text-p{
    font-size: 16px;
    font-weight: 400;
 
}

.banner button{
    font-size: 30px;
    font-weight: 600;
    padding: 10px 20px;
    background-color: #f00;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.banner button:hover{
    background-color: blue;
}
.banner img{
    display: block;
}
.buttons{
   /* margin-left: 65px; */
    height: 312px;
    width: 312px;
    background-color: black;
    padding: 15px;
    border-radius: 15px;
    text-align: center;
    align-content: center;
}
.button-3{
    height: 64px;
    width: 250px;
    margin-top: 30px;
    background-color: #f00;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 30px;
    font-weight: 600;
}
.button-2{
    height: 64px;
    width: 250px;
    margin-top:30px ;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
.button-1{
    height: 64px;
    width: 250px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
    font-weight: 600;
}
button:hover{
    background-color: rgb(127, 127, 207);
}
/* cards */
.cards{

    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card-1{
    /* margin-left: 65px; */
    margin-left: 20px;
    width: 312px;
    height: 364px;
   background-color: rgb(244, 242, 245);
}
.card-2{
    width: 312px;
    height: 364px;
   background-color: rgb(244, 242, 245);
}
.card-3{
    width: 312px;
    height: 364px;
   background-color: rgb(244, 242, 245);
}
.cards div img{
    height: 125px;
    width: 312px;
    border-radius: 9px 9px 0 0;
}
