/* nav styles */
nav {
    display: flex;
    justify-content: space-between;
}
.nav-h1 {
    font-size: 70px;
    color: rgb(235, 235, 243);}

.nav-container{

    width: 540px;
    height: 80px;
}



nav div button {
    background: red;
    width: 147px;
    height: 56px;
    color: white;
    font-size: 18px;
    border: none;
    padding: 16px 24px;
    border-radius: 10px; /* Rounded corners */
   
}
/* Add to styles.css */
.banner {
    background: #000;
    width: 1240px;
    margin:  auto; /* Center the banner */
    color: #fff;    /* Make text white for contrast */
    padding: 20px;.
    borde /* Rounded corners */
    
}

/* main styles */
.button-container-main {
    margin: 30px;
    background: #000;
    height: 250px;
    width: 250px;
    align-content: center;
    padding: 30px;
    border-radius: 10px; /* Rounded corners */
}
.box-button{
    background: white;
    width: 250px;
    height: 68px;
    color: #000;
    font-size: 16px;
    border: none;
    padding: 16px 24px;
    border-radius: 10px; /* Rounded corners */
   margin-bottom: 20px;
}
.box-button-2{

  background: red;
    width: 250px;
    height: 68px;
    color: white;
    font-size: 18px;
    border: none;
    padding: 16px 24px;
    border-radius: 10px;   
}